.movie-card {
  position: relative;
  width: 100%; /* Ancho fijo */
  height: auto; /* Alto fijo */
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  margin: 5px;
  padding: 10px;
  
}


.preview {
  position: absolute;
  top: 100%; /* Justo debajo de la tarjeta */
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 4px;
  z-index: 10;
  width: 100%; /* Ajusta según sea necesario */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.movie-card-img {
  width: 100%; /* Ancho completo del contenedor */
  height: 100%; /* Alto del 80% del contenedor */
  object-fit: cover; /* Escalar imagen para cubrir el contenedor */
  border-radius: 8px; /* Bordes redondeados solo en la parte superior */
}

.movie-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(128, 65, 65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.movie-card:hover .movie-details {
  opacity: 1; 
}

/* Pantallas pequeñas */
@media (max-width: 768px) {
  .movie-card {
    width: 100%; 
    height: auto; 
    margin: 5px 0; 
  }
}
